# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
insuranceLLM/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
*.env

# Logs
*.log

# Python-specific
*.pyo
*.pyd

# Test output
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/